* {
  padding: 0;
  margin: 0;
  border-color: black;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  font-family: Arial, sans-serif;

  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

#app-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#search-container {
  margin-bottom: 20px;
}

input,
button {
  padding: 10px;
  margin: 5px;
}

button:disabled {
  background-color: lightskyblue;
}

header h1 {
  text-align: center;
}

#profile-container {
  margin-top: 20px;
  text-align: center;
}

#profile-container img {
  border-radius: 50%;
  width: 300px;
  height: 300x;
}

.dark-mode {
  background-color: #333;
  color: white;
}
